*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;600;800&display=swap');

html {
  font-size: 100%; /*16px*/
  scroll-behavior: smooth;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  /* rest of the colors */
  --black: #222;
  --white: #fff;

  --red-light: #f8d7da;
  --red-dark: #842029;

  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  /* fonts  */
  --Font: "work sans", sans-serif;
  --smallText: 0.7em;

  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 10px;
  --letterSpacing: 1px;
  --transition: 0.3s ease all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --section-paddtop:60px;
  --section-paddbottom:60px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  background-color: var(--backgroundColor);
}

/* ======================================================================================== */

/* Start header */
.header {
  background-color: var(--white);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.header .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container span i {
  font-size: 2rem;
  color: var(--primary-400);
}

.header .container .icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .container .icon span:first-of-type {
  display: inline-block;
  width: 100%;
  height: 5px;
  border-radius: var(--borderRadius);
  background-color: var(--primary-400);
}

.header .container .icon span:nth-of-type(2) {
  display: inline-block;
  align-self: flex-end;
  margin-top: 5px;
  width: 60%;
  height: 5px;
  border-radius: var(--borderRadius);
  background-color: var(--primary-400);
  transition: var(--transition);
}

.header .container .links:hover span:nth-of-type(2) {
  width: 100%;
}

.header .container .icon span:nth-of-type(3) {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
  height: 5px;
  border-radius: var(--borderRadius);
  background-color: var(--primary-400);
}

.header .container .links {
  position: relative;
}

.header .container .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--grey-100);
  min-width: 200px;
  border-radius: var(--borderRadius);
  position: absolute;
  right: -15px;
  top: calc(100% + 25px);
  z-index: 1;
  display: none;
}

.header .links:hover ul {
  display: block;
}

.header .container .links ul::after {
  content: "";
  position: absolute;
  right: 19px;
  top: -20px;
  border: 10px solid;
  border-color:transparent transparent var(--primary-400);
}

ul li {
  padding: 1rem;
}

ul li:not(:last-child) {
  border-bottom: 0.3px solid var(--grey-200);
}

ul li a {
  text-decoration: none;
  color: var(--primary-300);
  transition: var(--transition);
}
ul li a:hover {
  color: var(--primary-600);
}

/* End header */

/* start welcome section */

.section-container {
  width: 100%;
  height: calc(100vh - 60px);
  position: relative;
}

.section-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  filter:opacity(50%);
}

.section-container .text {
  position: absolute;
  padding: 1rem;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  line-height: 1.8;
  width: 400px;
  max-width: 100%;
}

.section-container .text h2 {
  font-size: 3.2rem;
  color: var(--primary-600);
}

.section-container .text p {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;
}
/* end welcome section */

/* start features */
.features {
  background-color: var(--grey-200);
  padding-top: var(--section-paddtop);
  padding-bottom: var(--section-paddbottom);
}

.features .container {
  display: flex;
  justify-content: center;
}

.features .container .feature {
  text-align: center;
  line-height: 1.8;
  margin: 10px;
}

.features .container .feature i {
  color: var(--primary-400);
  margin-bottom: 1rem;
}

.features .container .feature p {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (max-width:1190px){
 .features .container {
   flex-direction: column;
 }
 .features .container .feature p {
  max-width: min(400px,80%);
}
}

/* end features */

/* start services */

.services {
 padding-top: var(--section-paddtop);
 padding-bottom: var(--section-paddbottom);
}

.services .container {
  width: min(90%, 1000px);
  margin: 0rem auto;
  
}

.services .container .srv-container {
  display: flex;
  justify-content: space-between;
}

.services .container .heading {
  text-align: center;
}

.services .container .heading h1 {
  font-size: 7rem;
  color: var(--grey-300);
  letter-spacing: -0.1em;
  margin-bottom: 0;
}

.services .container .heading p {
  margin-top: -25px;
}

.services .container .services-container {
  width: 70%;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 30px;
}

.services .container .services-container .service {
  margin: 1rem 2rem;
  display: flex;
}
.services .container .services-container .service .info {
  margin-left: 1.5rem;
}
.service i {
  color: var(--primary-400);
}

.service .info h2 {
  margin-bottom: 1rem;
  font-weight: bolder;
}

.service .info p {
  line-height: 1.5;
}

.services .container .image {
  margin-top: 4rem;
  position: relative;
}

.services .container .image img {
  height: 70%;
  width: 70%;
  margin-top: 70px;
  margin-left: 50px;
}

.services .container .image::before {
  content: "";
  background-color: #0f172a;
  width: 100px;
  height: 100%;
  position: absolute;
  right: 20px;
  z-index: -1;
}

@media screen and (max-width:1190px) {
  .services .container .image {
    display: none;
  }
  .services .container .services-container {
    width: 100%;
  }
}

@media screen and (max-width:650px) {
  .services .container .heading h1 {
    font-size:4rem ;
  }
}
/* end services */

/* start portfolio */
.portfolio {
  background-color: var(--grey-200);
  padding-top: var(--section-paddtop);
  padding-bottom: var(--section-paddbottom);
}

.portfolio .heading {
  text-align: center;
}

.portfolio .heading  h1 {
  font-size: 7rem;
  color: var(--white);
  letter-spacing: -0.1em;
  margin-bottom: 0;
}


.portfolio .heading p {
  margin-top: -25px;
}

.portfolio .container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:650px) {
  .portfolio .heading  h1 {
    font-size: 4rem;
  }
}


.portfolio .container .sample {
  background-color: var(--white);
  margin: 20px;
  width: 500px;
}

.portfolio .container .sample img {
  width: 100%;
}
@media screen and (max-width:1190px) {
  .portfolio .container {
    flex-direction: column;
    align-items: center;
  }
  .portfolio .container .sample {
    width: min(500px, 80%);
  }
}

.portfolio .container .sample h3 {
  padding: 1rem;
}

.portfolio .container .sample p {
  padding: 0 1rem 1rem;
}
/* end portfolio */

/* start about */
.about {
  padding-top: var(--section-paddtop);
  padding-bottom: var(--section-paddbottom);
}

.about .heading {
text-align: center;
}

.about .heading h1 {
  font-size: 7rem;
  color: var(--grey-300);
  letter-spacing: -0.1em;
  margin-bottom: 0;
}

.about .heading p {
  margin-top: -25px;
}

.about .container {
  width: min(1000px, 80%);
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

.about .container .image {
  width: 300px;
  height: 400px;
  background-color: #504acc;
  position: relative;
}
.about .container .image::before {
  content: "";
  background-color: var(--grey-300);
  width: 80px;
  height: calc(100% + 80px);
  position: absolute;
  left: -20px;
  margin-top: -40px;
  z-index: -1;
}

.about .container .image::after {
  content: "";
  width: 200px;
  height: 100%;
  position: absolute;
  border-left: 80px solid var(--primary-400);
  border-bottom: 80px solid var(--primary-400);
  top: -40px;
  right: -150px;
  z-index: -1;
}

.about .container .image img {
  width: 100%;
  height: 100%;
object-fit: cover;
}


.about .container .text {
  width: 50%;
}
@media screen and (max-width:1190px) {
  .about .container .image {
    margin-bottom: 100px;
    margin-right: 100px;
  }

  .about .container .text {
    width: 80%;
  }
  .about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width:650px) {
  .about .heading h1 {
    font-size: 4rem;
  }
  .about .container .image::after,
  .about .container .image::before{
    display: none;
  }

  .about .container .image{
    margin: 100px auto;
  }

  .about .container .text {
    width: 90%;
  }
}

.about .container .text  p {
  line-height: 1.5;
  word-spacing: 1.5;
  margin-bottom: 30px;
}
.about .container .text  p:first-of-type {
  font-weight: bold;
}

.about .container .text  p:nth-of-type(2) {
  margin-top: 30px;
  color: var(--grey-400);
}

.about .container .text hr {
  width: 50%;
  display: inline-block;
  border-top-color: var(--primary-400);
  color: transparent;
}
/* end about */

/* start contact */
.contact {
  background-color: var(--grey-200);
  text-align: center;
  padding-top: var(--section-paddtop);
  padding-bottom: var(--section-paddbottom);
}

.contact .heading {
  padding: 3rem;
}

.contact .heading h1 {
  font-size: 7rem;
  color: var(--grey-300);
  letter-spacing: -0.1em;
  margin-bottom: 0;
}

.contact .heading p {
  margin-top: -25px;
}
.contact .text {
  line-height: 1.8;
  padding-bottom: 100px;
}
.contact .text p:first-of-type {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-500);
}

.contact .text a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-300);
}

.contact .text p:nth-of-type(2){
  color: var(--grey-400);
  margin-top: 20px;
} 

.contact .text p i {
  margin:0px 5px ;
}

@media screen and (max-width:650px) {
  .contact .heading h1 {
    font-size: 4rem;
  }

  .contact .text p:first-of-type {
    font-size: 1.5rem;
    width: 70%;
    margin: 0px auto;
  }
}
/* end contact */

/* start footer */
.footer {
  width: 100%;
  background-color: var(--primary-400);
  padding: 1rem 2rem;
  text-align: center;
}

.footer  p {
  font-weight: bold;
}

.footer p span {
  color: var(--white);
}
/* end footer */

